@import '../../variables.css';

.ScreenBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-top: 1px solid var(--primary-dark);
  background: linear-gradient(var(--primary), var(--primary-dark));
  /* TODO: Drop shadow */
}
