.ExpandoButton {
  width: 100%;
  height: 100%;
  display: block;
}

.ExpandoButton-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
