@import '../../variables.css';

.JoinGame-container {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 1;
}

.JoinGame-container input {
  font-size: 6vw;
  display: block;
}

.JoinGame-gameCodeLabel {
  display: block;
  font-size: 6vw;
  color: var(--secondary-dark-text);
}

.JoinGame-userName {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 6vw;
  color: var(--text);
  background-color: var(--primary-light);
  border: none;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50%;
}

.JoinGame-userNameLabel {
  display: block;
  font-size: 6vw;
  color: var(--secondary-dark-text);
}
