@import './variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Helvetica Neue", "Segoe IO", "DejaVu Sans";
  color: var(--text);
  background-color: var(--primary);
}

a {
  color: white;
  text-decoration: none;
}
